In [1]:
import os
import pandas as pd
from pyspark.sql import SparkSession

In [2]:
file_path = os.getenv('FILE_LINK_1')

In [3]:
df = pd.read_parquet(file_path)

In [4]:
df.shape

(3708494, 10)

In [5]:
df.head(2)

,T,v,vw,o,c,h,l,t,n,otc
0,BRCHF,43878.0,0.4983,0.539,0.52,0.539,0.492,1672779600000,12.0,True
1,ASHTY,11743.0,231.8473,231.670,234.89,236.000,228.820,1672779600000,331.0,True

In [6]:
df.rename(columns={'T':'Ticker','t':'Datetime','c':'Close','o':'Open','h':'High','l':'Low','v':'Volume'},inplace=True)

In [7]:
df.head(2)

,Ticker,Volume,vw,Open,Close,High,Low,Datetime,n,otc
0,BRCHF,43878.0,0.4983,0.539,0.52,0.539,0.492,1672779600000,12.0,True
1,ASHTY,11743.0,231.8473,231.670,234.89,236.000,228.820,1672779600000,331.0,True

In [8]:
df.groupby('Ticker').pct_change().head(2)

/tmp/ipykernel_1894/4011714469.py:1: FutureWarning: The default fill_method='ffill' in DataFrameGroupBy.pct_change is deprecated and will be removed in a future version. Either fill in any non-leading NA values prior to calling pct_change or specify 'fill_method=None' to not fill NA values.
  df.groupby('Ticker').pct_change().head(2)

   Volume  vw  Open  Close  High  Low  Datetime   n  otc
0     NaN NaN   NaN    NaN   NaN  NaN       NaN NaN  NaN
1     NaN NaN   NaN    NaN   NaN  NaN       NaN NaN  NaN