In [25]:
import os
import pandas as pd
from pyspark.sql import SparkSession

In [56]:
file_path = os.getenv('FILE_LINK_1')

In [57]:
df = pd.read_parquet(file_path)

In [58]:
df.shape

(3708494, 10)

In [59]:
df.head(2)

,T,v,vw,o,c,h,l,t,n,otc
0,BRCHF,43878.0,0.4983,0.539,0.52,0.539,0.492,1672779600000,12.0,True
1,ASHTY,11743.0,231.8473,231.670,234.89,236.000,228.820,1672779600000,331.0,True

In [60]:
df.rename(columns={'T':'Ticker','t':'Datetime','c':'Close','o':'Open','h':'High','l':'Low','v':'Volume'},inplace=True)

In [61]:
df.head(2)

,Ticker,Volume,vw,Open,Close,High,Low,Datetime,n,otc
0,BRCHF,43878.0,0.4983,0.539,0.52,0.539,0.492,1672779600000,12.0,True
1,ASHTY,11743.0,231.8473,231.670,234.89,236.000,228.820,1672779600000,331.0,True

In [62]:
df['Datetime_est'] = pd.to_datetime(df['Datetime'],unit='ms',utc=True).dt.tz_convert('US/Eastern')

In [63]:
df['Datetime_est'] = df['Datetime_est'].dt.strftime('%Y-%m-%d')

In [64]:
#df['Datetime_est'] = pd.to_datetime(df['Datetime_est'], format='%Y-%m-%d')

In [65]:
df.head(2)

,Ticker,Volume,vw,Open,Close,High,Low,Datetime,n,otc,Datetime_est
0,BRCHF,43878.0,0.4983,0.539,0.52,0.539,0.492,1672779600000,12.0,True,2023-01-03
1,ASHTY,11743.0,231.8473,231.670,234.89,236.000,228.820,1672779600000,331.0,True,2023-01-03

In [66]:

df['Return']=df.groupby('Ticker').agg({'Close':'pct_change'}).head(2)

In [69]:
df['Return']=df.groupby('Ticker')['Close'].pct_change().head(2)

In [70]:
df.query('Ticker=="AAPL"').head(10)

,Ticker,Volume,vw,Open,Close,High,Low,Datetime,n,otc,Datetime_est,Return
2549,AAPL,112117471.0,125.7250,130.280,125.07,130.9000,124.17,1672779600000,1021065.0,None,2023-01-03,NaN
18753,AAPL,89100633.0,126.6464,126.890,126.36,128.6557,125.08,1672866000000,770042.0,None,2023-01-04,NaN
33024,AAPL,80716808.0,126.0883,127.130,125.02,127.7700,124.76,1672952400000,665458.0,None,2023-01-05,NaN
49679,AAPL,87754715.0,128.1982,126.010,129.62,130.2900,124.89,1673038800000,711520.0,None,2023-01-06,NaN
64750,AAPL,70790813.0,131.6292,130.465,130.15,133.4100,129.89,1673298000000,645365.0,None,2023-01-09,NaN
82801,AAPL,63896155.0,129.8220,130.260,130.73,131.2636,128.12,1673384400000,554940.0,None,2023-01-10,NaN
98112,AAPL,69458949.0,132.3081,131.250,133.49,133.5100,130.46,1673470800000,561278.0,None,2023-01-11,NaN
113083,AAPL,71379648.0,133.1710,133.880,133.41,134.2600,131.44,1673557200000,635331.0,None,2023-01-12,NaN
128369,AAPL,57809719.0,133.6773,132.030,134.76,134.9200,131.66,1673643600000,537385.0,None,2023-01-13,NaN
141906,AAPL,63612627.0,135.7587,134.830,135.94,137.2900,134.13,1673989200000,595831.0,None,2023-01-17,NaN